body {
	background: white;

	font-family: Lato;
}

#jxgbox {
	width: 500px;
	height: 500px;
}
svg.fade {
	opacity: 0.3;
}

.hide {
	opacity: 0;
}

.values {
	display: block;
	text-align: center;;
	width: 38px;
	pointer-events: none;
	background-color: white;
	padding: 5px;
	border: 2px solid #284A28;
	border-radius: 7px;
	font-size: 18px;
	font-weight: bold;
}
.values.x-distance{
	border: solid 2px red;
}
.values.y-distance{
	border: solid 2px blue;
}

.checkbox-container {
	margin: 10px 0 10px 0;
}

#info-panel {
	// float: left;
	width: 200px;
	margin: 5px 20px 0 0;
}

.info-box {
	margin-top: 28px;
	width: 100%;
}
.info-box.x-distance{
	padding: 5px;
	border-radius: 7px;
	border: solid 2px red;
}
.info-box.y-distance{
	padding: 5px;
	border-radius: 7px;
	border: solid 2px blue;
}

.info-box.hideable {
	height: 40px;
}

#side-panel {
	float: left;
	margin: 0 10px;
}
#graph{
	float: left;
	// margin: 20px;
}
.graph-title {
	text-align: center;
}

.intro {
	font-family: Lato;
}

#intro {
	margin: 40px auto 20px auto;
	width: 80%;
}

#intro span {
	font-size: large;
}

/* The Modal (background) */
.modal {
    display: block;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#assistive-alert {
	opacity: 0;
	width: 0;
	height: 0;
	position: absolute;
}

/* The Close Button */
.close {
	padding: 10px;
	background: #5fac4b;
	display: block;
	width: 100px;
	position: relative;
	margin: auto;
	font-size: 20px;
	cursor: pointer;
	color: #fff;
	text-align: center;
	border: none;
}
.close:hover {
	background: #73D15A
}

/* Modal Content */
.modal-content {
	position: absolute;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 575px;
	text-align: center;
	height: 530px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	#aria-desc, #aria-title {
		width: 0;
		height: 0;
		opacity: 0;
		position: absolute;
	}

	#controls {
		font-size: 1em;
	}

	dl, dd {
		padding: 0;
		margin: 0;
	}

	dt {
		margin-top: 10px;
	}
}

#play-btn {
	background: none;
	border: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;

	&:hover {
		cursor: pointer;
	}

	&:active {
		color: gray;
	}

	#stop-icon {
		display: none;
	}
}
